@use "../theme.scss" as theme;

.menuItem {
  grid-auto-rows: min-content;
  align-items: normal !important;
  margin-right: 10px !important;
  :first-child {
    width: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.menuItem:last-child {
  margin-right: 20px;
}

.label {
  white-space: nowrap;
  font-size: 15px;
  line-height: 20px;
}

.menu {
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  background: theme.$primary-color !important;
  height: 80px;
  padding: 0px 15px !important;
}

.logoWrapper {
  width: 180px;
}

.logo {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.hamburger {
  right: 25px;
}

.slider {
  $sliderOffset: 110px;
  z-index: 1;
  background: theme.$primary-color !important;
  overflow: hidden;
  top: $sliderOffset;
  left: 100%;
  position: fixed;
  width: 100vw;
  height: calc(100% - $sliderOffset);
  transition: left 0.75s ease-in-out;

  .sliderItem {
    width: 158px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 12px;
  }
  .sliderLabel {
    font-size: 16px;
  }

  .menuItemWrapper {
    width: 100%;
    transition: background 0.5s ease-out;
  }
  .menuItemWrapper:hover {
    cursor: pointer;
    background: gray;
  }
}

.menuList {
  position: relative;
}
.sliderListWrapper {
  top: 40%;
  transform: translateY(-50%);
}
.sliderShow {
  left: 0%;
}
