@use "../theme.scss" as theme;

.card {
  padding: 15px 10px 30px 10px !important;
  background: theme.$primary-color;
  max-width: 300px;
  height: 100%;
}

.cardBody {
  position: relative;
  height: 200px;
  width: 280px;
}

.cardDescription {
  padding: 15px 15px;
  padding-bottom: 0px;
}

.headerWrapper {
  padding-bottom: 5px;
}

.header {
  text-transform: uppercase;
  max-width: unset !important;
}

.underliner {
  background: theme.$secondary-color !important;
  height: 2px !important;
  max-width: 240px;
}

.descriptionWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 5px;
}

.descriptionPoint {
  padding-right: 8px;
  color: theme.$secondary-color;
}
