@use "../theme.scss" as theme;
@use "../mixins" as q;

.updateWrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.readOnly {
  background: theme.$primary-color;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 150px;
  grid-template-areas: "name place realization detail buttons";
  max-width: 900px;
  width: 100%;
  min-height: 60px;
  margin: 3px 0px 3px 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @include q.until(800px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "name place realization detail" "buttons buttons buttons buttons ";
    min-height: 120px;
  }

  @include q.until(600px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name place" "realization detail" "buttons buttons";
    min-height: 180px;
  }
}

.infoWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid grey;
  height: 100%;

  div:nth-child(1) {
    font-weight: 600;
    text-decoration: underline;
  }
  div:nth-child(2) {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.infoWrapper:nth-child(1) {
  grid-area: name;
}
.infoWrapper:nth-child(2) {
  grid-area: place;
  border-left: none;
}
.infoWrapper:nth-child(3) {
  grid-area: realization;
  border-left: none;
}
.infoWrapper:nth-child(4) {
  grid-area: detail;
  border-left: none;
  @include q.until(600px) {
    border-left: 1px solid grey;
  }
  div {
    text-align: center;
  }
}
.buttonWrapper {
  grid-area: buttons;
}
.button {
  position: relative;
  height: 50%;
  width: 100%;
  cursor: pointer;
}

.form {
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.input {
  height: 60px !important;
  width: 100%;
  border-radius: 0px !important;
  background: theme.$primary-color !important;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.719);

  @include q.until(620px) {
    width: 330px;
  }
}

.detail {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border: none;
  height: 80px;
  resize: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.734);
  padding: 10px;
  color: rgb(32, 32, 32);
  overflow-y: auto;
  outline: none;
  font-size: 14px;
  font-weight: 300;
}

.detail:focus {
  border-bottom: 2px solid theme.$secondary-color;
}
.detail:not(:empty) {
  border-bottom: 2px solid theme.$secondary-color;
}

.label {
  font-size: 16px !important;
  cursor: text;
}

.focusLabel {
  font-size: 11px !important;
  color: theme.$secondary-color !important;
}

.filledLine {
  background: theme.$secondary-color !important;
  width: 100% !important;
}

.errorLine {
  background: theme.$error-background !important;
  width: 100% !important;
}

.errorLabel {
  color: theme.$error-color !important;
}

.helperClass {
  width: 280px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.helperText {
  height: 87px !important;
  flex-basis: 50%;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.helperText:nth-child(3) {
  flex-basis: 100%;
}

.helperText:nth-child(4) {
  flex-basis: 100%;
}

.root {
  width: 100% !important;
}

.submit {
  position: relative;
  display: flex;
  justify-content: center;
  flex-basis: 100%;

  input {
    height: fit-content;
    width: fit-content;
    background: theme.$secondary-color;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border: none;
    outline: none;
    color: theme.$text-secondary-color;
    position: relative;
    margin: 15px 15px;
  }
}
.submit:disabled {
  background: rgb(78, 78, 78);
  cursor: initial;
}
