@use "./theme.scss" as theme;
@use "./mixins" as q;

$breakpoints: (
  mobile: 320px,
  tablet: 768px,
  laptop: 980px,
  desktop: 1200px,
);

$show-breakpoints: ();

@use "../../node_modules/sass-mq/mq" with (
  $breakpoints: $breakpoints,
  $show-breakpoints: $show-breakpoints
);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 20px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a6a6a;
}

.transitionLayer {
  position: fixed;
  width: 0%;
  z-index: 5;
  height: calc(100% - 110px);
  top: 110px;
  right: 0px;
  background: theme.$bckg-secondary-color;
}

.wrapper {
  position: relative;
  width: min-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    height: 148.1px;
  }
}
.textWrapper {
  margin-top: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;

  opacity: 0;
  display: none;
}
.transitionSvg {
  opacity: 0;
  display: none;
}
.transitiontext {
  font-size: 20px;
  color: white;
  padding-right: 2px;
}
.dot {
  width: 3px;
  height: 3px;
  background: white;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 5px;
  border-radius: 50%;
}
