$primary-color: #ffffff;
$secondary-color: #e35f21;

$secondary-layer-color: rgba(227, 95, 33, 0.4);
$bckg-primary-color: #d9d9d9;
$bckg-secondary-color: #575757;

$text-primary-color: #000000;
$text-secondary-color: #ffffff;

$error-color: red;
$error-background: red;
